/*
   CSS styling examples for the Vaadin app.

   Visit https://vaadin.com/docs/styling/application-theme/ for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
    margin: 0 auto;
    max-width: 250px;
}

vaadin-vertical-layout:first-child {
    height: 100%;
    padding: 0;
}

.header {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-base-color);
    padding: 10px;
}

.navigation {
    background-color: var(--lumo-tertiary-color);
    color: var(--lumo-base-color);
    padding: 10px;
}

.content {
    background-color: #F3F5F7;
}

.content-div {
    background-color: hsla(214, 35%, 15%, .85);
    color: var(--lumo-base-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-remove-div {
    background-color: #fff;
    color: #fff;
    background-color: crimson;
}

.button-remove-div:disabled {
    background-color: rgba(220, 20, 60, 0.45);
    color: gray;
}

.footer {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-base-color);
    padding: 10px;
}

.content-area {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 110px;
    /*grid-template-rows: repeat(9, 1fr);*/
    gap: 10px;
    height: 100%;
    padding: 10px;
}

/* Example: the style is applied only to the textfields which have the `bordered` class name. */
vaadin-text-field.bordered::part(input-field) {
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
    background-color: var(--lumo-base-color);
}


